<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appNavigation" aria-controls="appNavigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="appNavigation">
        <a class="navbar-brand" href="/">Planned</a>
        <% if (locals.currentUsername && locals.currentUserRole == 'teacher') { %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/" accesskey="h"><u>H</u>ome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard" accesskey="d"><u>D</u>ashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar" accesskey="c"><u>C</u>alendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lessonplans" accesskey="l"><u>L</u>esson Plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile" accesskey="p"><u>P</u>rofile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq" accesskey="f"><u>F</u>AQ</a>
            </li>
        </ul>
        <% } %>

        <% if (locals.currentUsername && locals.currentUserRole == 'principal') { %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/" accesskey="h"><u>H</u>ome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard-principal" accesskey="d"><u>D</u>ashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lessonPlans-principal" accesskey="l"><u>L</u>essonPlans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile" accesskey="p"><u>P</u>rofile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq" accesskey="f"><u>F</u>AQ</a>
            </li>
        </ul>
        <% } %>

        <% if (locals.currentUsername && locals.currentUserRole == 'admin') { %>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard-admin" accesskey="d"><u>D</u>ashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-management" accesskey="a"><u>A</u>dmin Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq" accesskey="f"><u>F</u>AQ</a>
                </li>
            </ul>
            <% } %>


        <ul class="navbar-nav ml-auto">
            
            <% if (locals.currentUsername) { %>
            <li class="nav-item sep">
                <a class="nav-link" href="/profile">Hi, <%= locals.currentUserFirstName %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" accesskey="o">Log<u>O</u>ut</a>
            </li>
           
            <% } else { %>
                 
            <li class="nav-item">
                <a class="nav-link" href="/register" accesskey="r"><u>R</u>egister</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login" accesskey="i">Log<u>I</u>n</a>
            </li>         
            <% } %>
            
        </ul>
    </div>
</nav>