<!doctype html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <% include partials/header.ejs %>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container content">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Available Actions</h5>
                                <form name="adminUserForm" id="adminUserForm" method="POST" action="/admin-task">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="actionUser">User</label>
                                            <select name="actionUser" id="actionUser" class="form-control">
                                            <% if (allUsers.length > 0) {
                                                for (let user in allUsers) { %>
                                                    <option><%= allUsers[user].username %></option>
                                                <% }
                                            } else { %>
                                                <option>No users found</option>
                                            <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="actionTask">Action</label>
                                            <select name="actionTask" id="actionTask" class="form-control">
                                                <option selected>List User Details</option>
                                                <option>List Events and Lesson Plans</option>
                                                <option>List Todos</option>
                                                <option>Delete User (CAREFUL)</option>
                                                <option>Delete User and purge all user data (CAREFUL)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <button type="submit" class="btn btn-primary" accesskey="t">Process <u>T</u>ask</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top20">
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Task Results</h5>
                                    <div class="taskResults" id="taskResults">
                                        
                                        <% if (taskStatus.status.length > 0) { %>
                                            <pre><%= JSON.stringify(taskStatus, null, 2); %></pre>
                                        <% } else { %>
                                            Waiting for task...
                                        <% } %>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>   
        <% include partials/footer.ejs %>
        <script>
            $(document).ready(function() {
                $("#adminUserForm").submit(function(){
                    if ($("#actionTask").val() == "Delete User (CAREFUL)") {
                        if (confirm('Are you sure?  You are about to delete the user.')) {
                            return true;
                        } else {
                            return false;
                        }
                    }
                    else if ($("#actionTask").val() == "Delete User and purge all user data (CAREFUL)") {
                        if (confirm('Are you sure?  You are about to delete the user.')) {
                            return true;
                        } else {
                            return false;
                        }
                    }
                });
            });
        </script>
    </body>
</html>