<!doctype html>
<html lang="en">
<head>
    <title>Calendar</title>
    <% include partials/header.ejs %>
    <link href='/css/fullcalendar.css' rel='stylesheet' />
    <link href='/css/fullcalendar.print.css' rel='stylesheet' media='print' />
</head>
<body>
    <% include partials/navbar.ejs %>

    <div class="container content">
        <div class="calendar-nav">
            <button class="btn btn-primary go-right" type="button" data-toggle="modal" data-target="#addEventModal" accesskey="a"><u>A</u>dd Event</button> 
            <div id="addEventModal" class="modal" tabindex="-1" role="dialog">
                <form name="addCalendarEventForm" method="POST" action="/add-calendar-event">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">New Calendar Event</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <label for="eventTitle">Title</label>
                                        <input type="text" name="eventTitle" class="form-control" id="eventTitle" placeholder="Event Title">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="eventType">Type</label>
                                        <select name="eventType" id="eventType" class="form-control">
                                            <option selected>Class</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="eventStart">Start Time</label>
                                        <input type="datetime-local" name="eventStart" class="form-control" id="eventStart">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="eventEnd">End Time</label>
                                        <input type="datetime-local" name="eventEnd" class="form-control" id="eventEnd">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="eventDescription">Description</label>
                                    <textarea name="eventDescription" class="form-control" id="eventDescription"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="editEventModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Calendar Event</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form name="editCalendarEventForm" method="POST" action="/edit-calendar-event">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="eventEditTitle">Title</label>
                                    <input type="text" name="eventEditTitle" class="form-control" id="eventEditTitle" placeholder="Event Title">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="eventEditType">Type</label>
                                    <select name="eventEditType" id="eventEditType" class="form-control">
                                        <option selected>Class</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="eventEditStart">Start Time</label>
                                    <input type="datetime-local" name="eventEditStart" class="form-control" id="eventEditStart">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="eventEditEnd">End Time</label>
                                    <input type="datetime-local" name="eventEditEnd" class="form-control" id="eventEditEnd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="eventEditDescription">Description</label>
                                <textarea name="eventEditDescription" class="form-control" id="eventEditDescription"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="eventEditId" id="eventEditId">
                            <button type="submit" class="btn btn-primary" accesskey="s"><u>S</u>ave</button>
                            </form>
                            <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal" accesskey="c"><u>C</u>lose</button>
                            <form name="deleteCalendarEventForm" method="POST" action="/delete-calendar-event">
                                <input type="hidden" name="eventDeleteId" id="eventDeleteId">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id='calendar'></div>   
    </div>

    <% include partials/footer.ejs %>
    <script src="/js/fullcalendar-main.js"></script>
    <script src="/js/fullcalendar-calendar.js"></script>
    <% if (calendarEvents) { %>
    <script>
        $(document).ready(function() {
            let events = <%- JSON.stringify(calendarEvents) %>;
            // TODO: add else statement
            if (events != null) {
                renderCalendar(events);
            }
        });  
    </script>
    <% } %>
</body>
</html>