<!doctype html>
<html lang="en">
    <head>
        <% include partials/header.ejs %>
        <link rel = "stylesheet" type = "text/css" href = "/css/login.css" />
    </head>
    <body>
        <div>
        <% include partials/navbar.ejs %>
        
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                <center>
                  <h1 class="display-4">An email has been sent!</h1>
                  <p class="lead">Please check your inbox.</p>
                </center>
                </div>
              </div>

        </div>
        <% include partials/footer.ejs %>
    </body>
</html>
