<!doctype html>
<html lang="en">
    <head>
        <title>LessonPlans</title>
        <% include partials/header.ejs %>
        <link rel = "stylesheet" type = "text/css" href = "/css/createlessonplan.css" />
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <form>
            <div class="container content">
                <h1>Create Lesson Plan</h1>
                <form class="form-signin" method="POST" action="/lessonplan">
                    <div class="form-group">  
                        <label for="inputsubject" class="col-sm-2 col-form-label">Subject</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="Subject" placeholder="Subject" required autofocus>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label for="inputdate" class="col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-5">
                            <input name="date" type="text" class="form-control" id="inputdate" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Description</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" required> </textarea>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" accesskey="c"><u>C</u>reate</button>
                </form>       
            </div>
        </form>
        <% include partials/footer.ejs %>
    </body>
</html>