<!doctype html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <% include partials/header.ejs %>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container content">
            <div class="container">
                <div class="row">
                    <div class="col" id="welcome-container">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Welcome, <%= currentUserFirstName %></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><%= new Intl.DateTimeFormat('en-US').format(new Date()) %></h6>
                                <div id="user-city"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col" id="weather-container">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Weather</h5>
                                <div id="weather">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top20">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Quick Glance</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Class Schedule</h6>
                                <% if (calendarEvents.class.length > 0) {
                                    for (let event in calendarEvents.class) { %>
                                        <li class="list-group-item">
                                                &nbsp<%= calendarEvents.class[event].start.toLocaleString('en-US', { timeZone: "UTC", hour: 'numeric', minute: 'numeric', hour12: true }) %>
                                                &nbsp<%= calendarEvents.class[event].title %>
                                        </li>
                                    <% }
                                } else { %>
                                    <li class="list-group-item">No classes scheduled for today!</li>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Today's Events</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Event Schedule</h6>
                                <% if (calendarEvents.other.length > 0) {
                                    for (let event in calendarEvents.other) { %>
                                        <li class="list-group-item">
                                            &nbsp<%= calendarEvents.other[event].start.toLocaleString('en-US', { timeZone: "UTC", hour: 'numeric', minute: 'numeric', hour12: true }) %>
                                            &nbsp<%= calendarEvents.other[event].title %>
                                        </li>
                                    <% }
                                } else { %>
                                    <li class="list-group-item">No events scheduled for today!</li>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">To-Do</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Daily tasks</h6>
                                <ul id="todo_list" name="todo_list" class="list-group">
                                    <li class="list-group-item">
                                        <form id="addtodo" name="addtodo" method="POST" action="/create-todo">
                                            <div class="row">
                                                <div class="col-10">
                                                    <input id="todo_item" type="text" class="todo-input" name="todo_item" placeholder="New Item" required style="border:0px">
                                                </div>
                                                <div class="col-2">
                                                    <a onclick='$("#addtodo").submit()'><i class="fa fa-plus-circle"></i></a>
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                    <% if (todos.length > 0) {
                                        for (let todo in todos) { %>
                                            <li class="list-group-item" todo_id="<%= todos[todo].id %>">
                                                <a class="btn btn-primary btn-tiny" onclick="deleteTodoItem('<%= todos[todo].id %>'); return false;" href="#" role="button">✓</a>
                                                &nbsp<%= todos[todo].info %>
                                            </li>
                                        <% }
                                    } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top20">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Lesson Plan Review</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Pending Approvals</h6>
                                <% if (calendarEvents.plans.length > 0) {
                                    for (let plan in calendarEvents.plans) { %>
                                        <li class="list-group-item">
                                            &nbsp<%= new Date(calendarEvents.plans[plan].start).toJSON().slice(0,10) %> &nbsp-
                                            &nbsp<%= calendarEvents.plans[plan].title %> &nbsp <div style="float: right">(pending)</div>
                                        </li>
                                    <% }
                                } else { %>
                                    <li class="list-group-item">No lesson plans with pending approval!</li>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <% include partials/footer.ejs %>
        <script src="/js/todo-list.js"></script>
        <script>
            $(document).ready(function() {
                // fetch weather and location (based on user's zip code)
                $.ajax({
                    type: 'GET',
                    url: 'http://api.weatherapi.com/v1/current.json?key=7d49e9423cc04101b2f11825192811&q=<%= currentUserZip %>',
                    timeout: 5000,
                    success: function (weather) {
                        $("#weather").html("Temperature today is " + weather.current.temp_f + " degrees F. <br>The weather conditions are: " + weather.current.condition.text);
                        $("#user-city").html(weather.location.name + ", " + weather.location.region);
                    },
                    error: function() {
                        $("#weather-container").hide();
                    }
                })
            });
        </script>
    </body>
</html>