<!doctype html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <% include partials/header.ejs %>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container content">
            <div class="container">
                <div class="row">
                    <div class="col" id="welcome-container">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Welcome, <%= currentUserFirstName %></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><%= new Intl.DateTimeFormat('en-US').format(new Date()) %></h6>
                                <div id="user-city"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col" id="weather-container">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Weather</h5>
                                <div id="weather">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top20">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Quick links</h5>
                                <h6 class="card-subtitle mb-2 text-muted">System overview</h6>
                                <a target="_blank" href="https://status.cloud.mongodb.com/" class="btn btn-primary">MongoDB Atlas Server Status</a>
                                <a target="_blank" href="https://status.digitalocean.com/" class="btn btn-primary">DigitalOcean Server Status</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">To-Do</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Daily tasks</h6>
                                <ul id="todo_list" name="todo_list" class="list-group">
                                    <li class="list-group-item">
                                        <form id="addtodo" name="addtodo" method="POST" action="/create-todo">
                                            <div class="row">
                                                <div class="col-10">
                                                    <input id="todo_item" type="text" class="todo-input" name="todo_item" placeholder="New Item" required style="border:0px">
                                                </div>
                                                <div class="col-2">
                                                    <a onclick='$("#addtodo").submit()'><i class="fa fa-plus-circle"></i></a>
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                    <% if (todos.length > 0) {
                                        for (let todo in todos) { %>
                                            <li class="list-group-item" todo_id="<%= todos[todo].id %>">
                                                <a class="btn btn-primary btn-tiny" onclick="deleteTodoItem('<%= todos[todo].id %>'); return false;" href="#" role="button">✓</a>
                                                &nbsp<%= todos[todo].info %>
                                            </li>
                                        <% }
                                    } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <% include partials/footer.ejs %>
        <script src="/js/todo-list.js"></script>
        <script>
            $(document).ready(function() {
                // fetch weather and location (based on user's zip code)
                $.ajax({
                    type: 'GET',
                    url: 'http://api.weatherapi.com/v1/current.json?key=7d49e9423cc04101b2f11825192811&q=<%= currentUserZip %>',
                    timeout: 5000,
                    success: function (weather) {
                        $("#weather").html("Temperature today is " + weather.current.temp_f + " degrees F. <br>The weather conditions are: " + weather.current.condition.text);
                        $("#user-city").html(weather.location.name + ", " + weather.location.region);
                    },
                    error: function() {
                        $("#weather-container").hide();
                    }
                })
            });
        </script>
    </body>
</html>