<!doctype html>
<html>
<head>
    <title>Edit Profile</title>
    <% include partials/header.ejs %>
</head>

<body>
    <% include partials/navbar.ejs %>
    <div class="container content">
        <h3>Account Information</h3>
        <form class="form-signin" method="post" action="/editprofile">
            <div class="form-group row">
              <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
              <div class="col-sm-10">
                    <input name="firstName" type="text" class="form-control" id="inputFirstName" value="<%= currentUserFirstName %>">
              </div>
          </div>
          <div class="form-group row">
              <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
              <div class="col-sm-10">
                  <input name="lastName" type="text" class="form-control" id="inputLastName" value="<%= currentUserLastName %>">
              </div>
          </div>
          <div class="form-group row">
              <label for="inputUserName" class="col-sm-2 col-form-label">User Name</label>
              <div class="col-sm-10">
                  <input name="userName" type="text" readonly class="form-control" id="inputUserName" value="<%= currentUsername %>">
              </div>
          </div>
          <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label">Email Address</label>
              <div class="col-sm-10">
                  <input name="userEmail" type="text" class="form-control" id="inputEmail" value="<%= currentUserEmail %>">
              </div>
          </div>
          <div class="form-group row">
              <label for="inputUserRole" class="col-sm-2 col-form-label">Role</label>
              <div class="col-sm-10">
                  <input name="userRole" type="text" readonly class="form-control" id="inputUserRole" value="<%= currentUserRole %>">
              </div>
          </div>
          <div class="form-group row">
              <label for="inputUserZip" class="col-sm-2 col-form-label">Zip Code</label>
              <div class="col-sm-10">
                  <input name="userZip" type="text" class="form-control" id="inputUserZip" value="<%= currentUserZip %>">
              </div>
          </div>
          <div class="form-group row">
              <div class="col-sm-10">
                  <button class="btn btn-primary" onclick="return confirm('Are you sure you want to save the changes?')" type="submit" accesskey="s"><u>S</u>ave</button>
              </div>
          </div>
        </form>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>