
<!doctype html>
<html>
<head>
    <title>FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include partials/header.ejs %>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container content">
    <h2>Frequently Asked Questions</h2>

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How do I add a new lesson plan?
                </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Navigate to the Calendar page and click Add Event. Select the type to be Class. Enter the appropriate information for your lesson plan and click Create. Navigate to the Lesson Plan page and your lesson plan will appear on the weekly calendar. Click on the block with your newly created lesson plan. A window will appear which will allow you to edit and add additional information about your lesson plan.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How do I check the status of a lesson plan?
                </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Navigate to the Lesson Plan page and find which lesson plan you want to see the status of. Inside the lesson plan block, the state value provides the status of your lesson plan.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How do I view previous week schedules?
                </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    On the Calendar page and Lesson Plan page, use the arrows at the top of the page to navigate between weeks.
                </div>
            </div>
        </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Where and how do I create a to-do list?
            </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Navigate to the Dashboard page. To add a new task place your cursor in the new item field under the to-list block. Press enter on your keyboard or click the plus symbol to save your task. To delete a task once finished, undo the check mark next to the task you wish to delete.
            </div>
        </div>
    </div>
    <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                    How do I create an event that is not a lesson plan?
                </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Navigate to the Calendar page. Click Add Event and a form will appear. Select the type to be Other and fill out the appropriate fields for your event.
                </div>
            </div>
        </div>
        <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseFour">
                        How do I submit a lesson plan for approval?
                    </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        On the Lesson Plan page, select Request Approval and a form will appear. Select the date range containing the lesson plan(s) you would like to submit. Click Submit.
                    </div>
                </div>
            </div>
</div>
    <% include partials/footer.ejs %>
</body>
</html>
