<!doctype html>
<html lang="en">
    <head>
        <title>Reset password</title>
        <% include partials/header.ejs %>
        <link rel = "stylesheet" type = "text/css" href = "/css/login.css" />
    </head>
    <body>
        <% include partials/navbar.ejs %>
        
        <form class="form-signin" method="POST" action="/forgot">
                <h1 class="h3 mb-3 font-weight-normal">Reset password:</h1>
                <h5 class ="h5 mb 3 font-weight-light"> Please fill in your email and a reset password link will be sent to you.</h5>
                <input type="text" class="form-control" name="email" placeholder="email" required autofocus>
                <button class="btn btn-lg btn-primary btn-block" type="submit" accesskey="s"><u>S</u>end</button>
        </form>

        <% include partials/footer.ejs %>
    </body>
</html>
