<!doctype html>
<html lang="en">
    <head>
        <title>Home</title>
        <% include partials/header.ejs %>
        <link rel = "stylesheet" type = "text/css" href = "/css/index.css" />
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <main role="main" class="index-container">
                <!-- Marketing messaging and featurettes
                ================================================== -->
                <!-- Wrap the rest of the page in another container to center all the content. -->
                <div class="position-relative overflow-hidden text-center bg-light" id="splash-container">
                        <div class="col-md-5 p-lg-5 mx-auto my-5">
                            <h1 class="display-4 font-weight-normal top-text">Introducing Planned</h1>
                            <p class="lead font-weight-normal">Highly productive lesson plan management software for teachers and principals.</p>

                            <% if (locals.currentUsername) { %>
                                                                 
                           <% } else { %>

                              <a href="/register" class="btn btn-primary my-2" accesskey="c"><u>C</u>reate an Account</a>
                              <a href="/login" class="btn btn-success my-2" accesskey="e"><u>E</u>xisting User Login</a>
                             
                              <% } %>
                                                          
                        </div>
                        <div class="product-device shadow-sm d-none d-md-block"></div>
                        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
                </div>
                <div class="container marketing">
                  <!-- START THE FEATURETTES -->
                  <div class="row featurette">
                    <div class="col-md-7">
                      <h2 class="featurette-heading">Productivity Reinvented. <span class="text-muted">For Teachers.</span></h2>
                      <p class="lead">We have created a groundbreaking new application to simplify the everyday workflow of every teacher.</p>
                      <br>
                      <p class="custom-list-item">&bull; Have an organized system to view calendar and lesson plans</p>
                      <p class="custom-list-item">&bull; Easily create lesson plans using our online lesson plan form</p>
                      <p class="custom-list-item">&bull; Manage both academic and event calendar events</p>
                    </div>
                    <div class="col-md-5 img-teacher"></div>
                  </div>
                <!-- Allowing you to see all submited lesson plans in one organized location
Easily approve or disapprove of lesson plans ss
Make comments on lesson plans that need to be altered -->
                  <hr class="featurette-divider">
                  <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                      <h2 class="featurette-heading">Highly Intuitive. <span class="text-muted">For Principals.</span></h2>
                      <p class="lead">Planned allows for seamless lesson plan management and review process for principals nationwide.</p>
                      <br>
                      <p class="custom-list-item">&bull; View all submitted lesson plans in one organized location</p>
                      <p class="custom-list-item">&bull; Easily approve plans that meet criteria</p>
                      <p class="custom-list-item">&bull; Make comments on lesson plans that need to be altered</p>
                    </div>
                    <div class="col-md-5 img-principal"></div>
                  </div>
                  <hr class="featurette-divider">
                  <div class="row featurette">
                    <div class="col-md-7">
                      <h2 class="featurette-heading">Always Available. <span class="text-muted">Web Ready.</span></h2>
                      <p class="lead">Planned is built on top of a sophisticated and modern web stack, allowing it to be universally accessed from any device.</p>
                      <br>
                      <p class="custom-list-item">&bull; Access and manage lesson plans from anywhere</p>
                      <p class="custom-list-item">&bull; Customer service always available</p>
                      <p class="custom-list-item">&bull; Continuously improving infrastructure</p>
                    </div>
                    <div class="col-md-5 img-feature"></div>
                  </div>
                  <hr class="featurette-divider">
                  <blockquote class="blockquote text-center index-quote">
                        <p class="mb-0">"For every minute spent in organizing, an hour is earned."</p>
                        <footer class="blockquote-footer"><cite title="Source Title">Benjamin Franklin</cite></footer>
                      </blockquote>
                  <!-- /END THE FEATURETTES -->
                </div><!-- /.container -->
              </main>
        <% include partials/footer.ejs %>
    </body>
</html>