<!doctype html>
<html lang="en">
    <head>
        <title>Lesson Plans</title>
        <% include partials/header.ejs %>
        <link href='/css/fullcalendar.css' rel='stylesheet' />
        <link href='/css/fullcalendar.print.css' rel='stylesheet' media='print' />
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container content">
                <button class="btn btn-primary go-right" type="button" data-toggle="modal" data-target="#submitPlanModal" accesskey="r"><u>R</u>equest Approval</button> 
                <div id="submitPlanModal" class="modal" tabindex="-1" role="dialog">
                    <form name="submitPlanForm" method="POST" action="/submit-plans">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Select Date Range</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="planStart">Start Date</label>
                                            <input type="date" name="planStart" class="form-control" id="planStart">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="planEnd">End Date</label>
                                            <input type="date" name="planEnd" class="form-control" id="planEnd">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            <div id="editPlanModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modify Lesson Plan <span id="lessonPlanStatus" class="badge">New</span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form name="editLessonPlanForm" method="POST" action="/edit-lesson-plan">
                            <div class="form-row">
                                    <label for="planSubject">Subject</label>
                                    <input type="text" name="planSubject" class="form-control" readonly id="planSubject" placeholder="Event Title">
                            </div>
                            <div class="form-row">
                                    <label for="planObjective">Objective</label>
                                    <textarea name="planObjective" class="form-control" id="planObjective"></textarea>
                            </div>
                            <div class="form-row">
                                    <label for="planLesson">Lesson</label>
                                    <textarea name="planLesson" class="form-control" id="planLesson"></textarea>
                            </div>
                            <div class="form-row">
                                <label for="planAssessment">Assessment</label>
                                <input name="planAssessment" class="form-control" id="planAssessment"></input>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="eventEditId" id="eventEditId">
                            <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                            <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                            <!-- TODO: CHANGE THIS TO DELETE LESSON PLAN -->
                            <!-- <form name="deleteCalendarEventForm" method="POST" action="/delete-calendar-event">
                                <input type="hidden" name="eventDeleteId" id="eventDeleteId">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
            <div id='calendar'></div>
        </div>
        <% include partials/footer.ejs %>
        <script src="/js/fullcalendar-main.js"></script>
        <script src="/js/fullcalendar-lessonplans.js"></script>
        <% if (calendarEvents) { %>
            <script>
                $(document).ready(function() {
                    let events = <%- JSON.stringify(calendarEvents) %>;
                    // TODO: add else statement
                    if (events != null) {
                        renderCalendar(events);
                    }
                });
            </script>
        <% } %>
    </body>
</html>