<!doctype html>
<html lang="en">
    <head>
        <title>Lesson Plans - Principal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include partials/header.ejs %>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container content">
            <div class="accordion" id="accordionExample">
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<h2 class="card-title">Lesson Plan View - Principal</h2>
								<h6 class="card-subtitle mb-2 text-muted"><%= new Intl.DateTimeFormat('en-US').format(new Date()) %></h6>
							</div>
						</div>
					</div>
                </div>
                <% if (lessonPlans) { %>
                    <script>
                        let events = <%- JSON.stringify(lessonPlans) %>;
                        var i = 0;
                        events.forEach(element => {
                            i++ 
                            //console.log(element.lesson._id)
                            // console.log("username = " + element.username) 
                            // console.log("class = " + element.title)

                            // console.log("assessment = " + element.lesson.assessment)
                            // console.log("lesson = " + element.lesson.lesson)
                            // console.log("objective = " + element.lesson.objective)

                            document.write('<div class="card">')
                            document.write('<div class="card-header" id="heading'+ i +'">')

                            document.write('<table style="width:100%">')
                            document.write('<tr>')
                            document.write('<td>')

                            document.write('<h2 class="mb-0">')
                            document.write('<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse'+ i +'" aria-expanded="false" aria-controls="collapse'+ i +'">')
                            document.write(element.username + " : " + element.title)
                            document.write('</button>')
                            document.write('</h2>')
                            document.write('</td>')
                            document.write('<td align="right">')
                            document.write('<form name="approveLessonPlan" method="post" action="/approve-lesson-plan">')
                            document.write('<input type="hidden" name="eventApproveId" value=' + element._id + '>')
                            document.write('<button type="submit" class="btn btn-success">Approve</button>')
                            document.write('</form>')
                            document.write('</td>')
                            document.write('<td align="right" style="width:80px">')
                            document.write('<form name="denyLessonPlan" method="post" action="/deny-lesson-plan">')
                            document.write('<input type="hidden" name="eventDenyId" value=' + element._id + '>')
                            document.write('<button type="submit" class="btn btn-danger">Deny</button>')
                            document.write('</form>')
                            document.write('</td>')

                            document.write('</tr>')
                            document.write('</table>')

                            document.write('</div>')
                            document.write('<div id="collapse'+ i +'" class="collapse" aria-labelledby="heading'+ i +'" data-parent="#accordionExample">')
                            document.write('<div class="card-body">')
                            document.write('<div>')
                            document.write('Lesson: ' + element.lesson.lesson)
                            document.write('</div>')
                            document.write('<hr>')
                            document.write('<div>')
                            document.write('Objective: ' + element.lesson.objective)
                            document.write('</div>')
                            document.write('<hr>')
                            document.write('<div>')
                            document.write('Assessment: ' + element.lesson.assessment)
                            document.write('</div>')
                            document.write('</div>')
                            document.write('</div>')
                            document.write('</div>')
                        });
                    </script>
                <% } %>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </body>
</html>