<!doctype html>
<html lang="en">
    <head>
        <title>Login</title>
        <% include partials/header.ejs %>
        <link rel = "stylesheet" type = "text/css" href = "/css/login.css" />
    </head>
    <body>
        <% include partials/navbar.ejs %>
        
        <form name="login" class="form-signin" method="POST" action="/login">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <input type="text" class="form-control" name="username" placeholder="username" required autofocus>
            <input type="password" class="form-control" name="password" placeholder="password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" accesskey="s"><u>S</u>ign in</button>
            <% if(locals.status) { %>
                <div class="alert alert-danger error-alert" role="alert">
                    <%= status %>
                </div>
            <% } %>  
            <br>
            <p>No Account? <a href="/register">Register</a> </p>
            <p>Forgot your password? <a href="/forgot">Reset Password</a></p>
        </form>

        <% include partials/footer.ejs %>
    </body>
</html>