<!doctype html>
<html>
<head>
    <title>Profile</title>
    <% include partials/header.ejs %>
</head>

<body>
    <% include partials/navbar.ejs %>
    <div class="container content">
        <h3>Account Information</h3>
        <div class="form-group row">
            <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="inputFirstName" value="<%= currentUserFirstName %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="inputLastName" value="<%= currentUserLastName %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputUserName" class="col-sm-2 col-form-label">User Name</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="inputUserName" value="<%= currentUsername %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email Address</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="inputEmail" value="<%= currentUserEmail %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputUserRole" class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="inputUserRole" value="<%= currentUserRole %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputUserZip" class="col-sm-2 col-form-label">Zip Code</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="inputUserZip" value="<%= currentUserZip %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <a class="btn btn-primary" href="/editprofile" role="button" accesskey="e"><u>E</u>dit Profile</a>
            </div>
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>
