<!doctype html>
<html lang="en">
    <head>
        <title>Register</title>
        <% include partials/header.ejs %>
        <link rel = "stylesheet" type = "text/css" href = "/css/register.css" />
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <form class="form-signin" method="POST" action="/register">
            <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
            <input type="text" class="form-control" name="firstname" placeholder="firstname" required autofocus>
            <input type="text" class="form-control" name="lastname" placeholder="lastname" required>
            <input type="text" class="form-control" name="email" placeholder="email" required>
            <input type="text" class="form-control" name="username" placeholder="username" required>
            <input type="password" class="form-control" name="password" placeholder="password" required>
            <select name="role" class="form-control form-control-lg">
                <option value="teacher">Teacher</option>
                <option value="principal">Principal</option>
            </select>
            <input type="text" class="form-control" name="zip" placeholder="school zip code" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" accesskey="e">R<u>e</u>gister</button>
            
            <% if(locals.status) { %>
                <div class="alert alert-danger error-alert" role="alert">
                    <%= status %>
                </div>
            <% } %>  

        </form>
        <% include partials/footer.ejs %>
    </body>
</html>