<!doctype html>
<html lang="en">
    <head>
        <title>Reset password</title>
        <% include partials/header.ejs %>
        <link rel = "stylesheet" type = "text/css" href = "/css/login.css" />
    </head>
    <body>
        <% include partials/navbar.ejs %>
  
  <div class="container">
    
    <div class="searchfield">
      
        <center><legend>Reset Password</legend></center>
        <form method="post" role="form" class="form-signin">
          <input type="hidden" name="_csrf" value="{{ csrf_token }}">
      
          <div class="form-group required">
              <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
          </div>

          <div class="form-group required">
              <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm Password">
          </div>

          <button type="submit" class="btn btn-lg btn-primary btn-block" accesskey="u"><u>U</u>pdate Password</button>
        </form>
      
    </div>
  </div>
  <% include partials/footer.ejs %>
</body>
</html>