#splash-container {
  background-image: url('https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80');
  background-size: cover;
  background-repeat: all;
  margin-bottom: 50px;
}
.top-text {
  margin-top: 50px;
}
.img-teacher {
  min-height: 400px;
  max-width: 500px;
  background-image: url('https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2004&q=80');
  background-size: cover;
}
.img-principal {
  min-height: 400px;
  max-width: 500px;
  background-image: url('https://images.unsplash.com/photo-1543269664-76bc3997d9ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-size: cover;
}
.img-feature {
  min-height: 400px;
  max-width: 500px;
  background-image: url('https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-size: cover;
}
.custom-list-item {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.0;
}
.index-quote {
  margin-top: 100px;
  margin-bottom: 100px;
}
.featurette-divider {
  margin-top: 50px;
  margin-bottom: 50px;
}