body {
    color: black;
    background: #f5f5f5;
}

.content {
    margin-top: 100px;
    background: #ffffff;
    padding: 20px;
}

div {
    outline: 0px dashed blue;
}

.top20 {
    margin-top: 20px;
}

.btn-tiny {
    padding: .15rem .20rem;
    font-size: .875rem;
    line-height: 1.0;
    border-radius: .2rem;
}

.calendar-nav {
    width: 100%;
}

.go-right {
    float: right;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
.jumbotron {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.sep {
    border-right: 1px solid rgba(255, 255, 255, 0.199);
}